.about-section {
  justify-content: center;
 text-align: center;
  img {
    width: 30%;
    background-color: white;
    border: 8px solid white;
    border-bottom: 35px solid white;
  }
}

@media screen and (max-width: 930px) {
  .about-section {

    img {
      width: 90%;

    }
  }
  }
