
.dropdown-toggle {
  font-size: 18px;
  font-weight: bolder;
}


.location-list {
  margin-left: 10px;
  list-style: none;
}

.accordion-button {
background-color: transparent;
}

.destination-accordion {
  padding: 10px;
}

.destination-entry {
  width: 170px;
  padding: 10px;

}
.destination-tabs {
  display: flex;
flex-wrap: wrap;
}

.location-list:hover {
  background-color: transparent !important;
}


@media screen and (max-width: 930px) {
  .destination-tabs {
    display: grid;
    justify-content: center;
    text-align: center;
    }
  }




// @media screen and (max-width: 930px) {
//   .destination-accordion {
//     position: absolute;
//   }
// }
