<div class="container">

 <br>
  <h1 class="grand-title" style="text-align: center;">NEW ARTICLE</h1>
  <hr>


<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Back to articles", articles_path %>
</div>
</div>
