<nav class="navigation">
        <%= link_to root_path, class: "navigation-logo" do %>
      <%= image_tag "alb-cr.png", id: "logo" %>
    <% end %>
</nav>
<ul class="nav nav-tabs">
  <li class="nav-item">
      <%= link_to root_path, class: "nav-link", style: "text-decoration: none;" do %>
             Home
              <% end %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/destinations">Destinations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/countries">Countries</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/locations">Locations</a>
     </li>
    <li class="nav-item">
    <a class="nav-link" href="/articles">Articles</a>
  </li>

    <li class="nav-item">
    <a class="nav-link" href="/recipes">Recipes</a>
  </li>
  </ul>
