 <div class="d-flex destination">
      <% @articles.order(date: :desc).each do |article| %>
        <div class="destination-cards">
           <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="d-card-middle">
        </div>
          <div class="d-card-text">
            <h4> <%= article.title  %></h4>
             <div class="d-flex justify-content-between italic-cards">
            <% if article.holiday_tags.to_s.include?("Active") %>
              <h6>Active</h6>
            <% elsif article.holiday_tags.to_s.include?("Beach") %>
             <h6>Beach</h6>
            <% elsif article.holiday_tags.to_s.include?("City Breaks") %>
              <h6>City Break</h6>
            <% elsif article.holiday_tags.to_s.include?("Island") %>
              <h6>Island</h6>
            <% elsif article.holiday_tags.to_s.include?("Restaurants") %>
              <h6>Restaurant</h6>
            <% elsif article.holiday_tags.to_s.include?("Bars") %>
              <h6>Bars</h6>
            <% end %>
              <%# <% case article.holiday_tags %>
            <%# <% when "Active" %>
            <%# <h6>Active</h6> %>

            <%# <% when "Beach" %>
            <%# <% when "City Breaks" %>
            <%# <h6>City Break</h6> %>
            <%# <% when "Island" %>
            <%# <h6>Island</h6> %>
            <%# <% when "Restaurants" %>
            <%# <h6>Restaurant</h6> %>
              <%# <% when "Bars" %>
              <%# <h6>Bars</h6> %>
            <%# <% end %>

         <p>by <%= article.author  %></p>
          </div>
          </div>
      </div>
      <% end %>
      <% end %>

      </div>
