<div class="container about-section">
  <br>
    <h1 class="grand-title" style="text-align: center;"> ABOUT</h1>
    <br>
    <br>

       <%= image_tag "athens.jpg" %>

  <br>
  <br>
  <p>Hi, we're Rosie & Christian.</p>
  <p>We created this blog as somewhat of a memory book, but to also aid friends, family, and anyone else with recommendations.</p>
  <p>We hope you find the information useful and please feel free to reach out to us on Instagram if you require any further info or tips.</p>

  <br>
</div>
