<div class="container about-section">
  <br>
  <img src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/308136307_10166822871955066_2872299367436002948_n.jpg?stp=cp6_dst-jpg_p526x296&_nc_cat=102&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=PiQxl_QnDb4AX_d34vV&_nc_ht=scontent-cdg4-1.xx&oh=00_AfAa6J0zb3YnFqkBc0WaUNkoHj67CxlPUDThGkGjyfjfnQ&oe=64A40646" alt="">
  <br>
  <br>
  <p> Hi, we're Rosie & Christian. We created this blog as somewhat of a memory book, but also to aid friends, family, and anyone else with recommendations.</p>
  <p>We hope you find the information useful, and please feel free to reach out to us on Instagram if you require any further info or tips.</p>
  <br>
</div>
