<div class="container destinations">
  <br>
    <% if current_user %>
 <%= link_to new_article_path, style: "text-decoration: none;" do %>
      <button class="btn btn-light">New article</button>
      <% end %>
      <br>
<% end %>
  <h1 class="grand-title" style="text-align: center;">HEALTH</h1>
  <hr>




      <div class="col">
       <div id="travel-render">
       <br>
        <%= render partial: 'health'%>

<br>
        <% if @articles.empty? %>
          <h2 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;">No posts are available yet, we hope to have some soon</h2>
          <%# <h4 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;">   <%=link_to "Reset filters", health_path, class: "button-16" %>
        <% end %>
      </div>
    </div>
<br>
<div class="pagy-bar">
<%== pagy_bootstrap_nav(@pagy) %>
  </div>
  </div>
