<div class="container">
  <br>
  <% if current_user %>
 <%= link_to new_article_path, style: "text-decoration: none;" do %>
      <button class="btn btn-light">New article</button>
      <% end %>
      <br>
<% end %>
  <h1 class="grand-title" style="text-align: center;"> ALL RECIPES</h1>
  <hr>

 <%= render 'recipefilters' %>

    <div class="col">
    <div id="recipes">
      <%= render 'recipe', recipes: @recipes %>
      <% if @recipes.empty? %>
        <h2 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;">No recipes fit your search. Please try again</h2>
        <h4 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;"> <%=link_to "Reset filters", recipes_path, class: "button-16" %></h4>
      <% end %>
      </div>
    </div>
  </div>
  <br>
</div>
