 <div class="container">

 <br><h1 class="grand-title" style="text-align: center;"> SWEETS</h1>
<hr>

 <%= render 'recipefilters' %>

  <div class="col">
   <div id="recipes">
    <%= render 'sweets', recipes: @sweets %>
    <% if @sweets.empty? %>
      <h2 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;">No Sweets recipes fit your search. Please try again</h2>
      <h4 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;"> <%=link_to "Reset filters", recipes_sweets_path, class: "button-16" %></h4>
    <% end %>
    </div>
  </div>
  </div>

  <br>
</div>
