<div class="container">
<br>
<br>
<br>
<p>This page does not exist. Please go back.</p>
<br>

  <%= link_to root_path, style: "text-decoration: none;" do %>
        Back to home page
        <% end %>
</div>
