<h1><%= country.name %></h1>
  <%  country.locations.each do |location| %>
  <%= link_to  location.name, location_path(location), :method => "get"  %>

   <div class="c-card" >






     <% location.articles.each do |article|%>
      <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
      <% end %>
      <% end %>










  </div>

  <% end %>
