<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Countries</h1>
<hr>

      <% @countries.each do |country| %>
      <ol style="list-style-type: none">
     <li class="country-list"><%= link_to country.name, country_path(country), :method => "get"  %></li>
     </ol>
    </p>
  <% end %>

<%= button_to "New country", new_country_path, :method => "get"   %>
</div>
