<div class="container">
 <br>
  <h1 class="grand-title" style="text-align: center;">NEW COUNTRY</h1>
  <hr>

<%= render "form", country: @country %>

<br>

<div>
  <%= link_to "Back to countries", countries_path %>
</div>
</div>
