.article-intro {


}

.article-split {
  margin: 2px;
  background-color: rgb(248, 244, 235);
  border: 1px solid black;
}

.cover-image-article {
  float: left;
  img {
    width: 450px;
    height: 500px;
    object-fit: cover;
    border: 10px solid white;
    border-bottom: 50px solid white;
box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.08);

  }
  padding: 0px 30px 20px 0px;
}




.article-image-article {
  img {
    width: 450px;
    height: 500px;
    object-fit: cover;
 border: 10px solid white;
 border-bottom: 50px solid white;
box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.08);

  }
  padding: 0px 30px 20px 0px;

}


.article-image-print-link {
  img {
    width: 250px;
    height: 300px;
    object-fit: cover;
 border: 10px solid white;
 border-bottom: 30px solid white;
box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.08);

  }
  padding: 0px 30px 20px 0px;

}

.article-image-text-combo {
display: flex;
}



@media screen and (max-width: 1300px) {
  .article-image-text-combo  {
  display: grid;
  }



.cover-image-article {
  img {
    width: 350px;
    height: 400px;
  }

}


.article-image-article {
  img {
    width: 350px;
    height: 400px;
  }
}

.article {

  p {
    width: 94%;
  }
}
}
