.article {
  img {
    height: 350px;
    width: 500px;
    object-fit: cover;
  }
}

.article-split {
  margin: 2px;
  background-color: rgb(248, 244, 235);
  border: 1px solid black;
}

.cover-image-article {
  float: left;
  padding: 0px 30px 20px 0px;
}
