button {
  background-color: $footer;
  color: $header;
  border: $header;
  border-radius: 20px;
  padding: 10px;
}

.print-link-button {
  font-family: 'Lora', serif;
  width: 200px;
  a {
  color: white !important;
}
a:hover {
  transition: 1s;
  color: $header !important;
}
}

.print-link-button:hover {
transform: 1s;
background-color: rgb(77, 77, 77);
}


.admin-button {
  width: 200px;
}
