body {
  background-color: white;
  display:flex !important;
  flex-direction:column;
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
  a:hover {color: rgb(90, 110, 78)!important;
  }
}

.container {
min-height: 88vh !important;
}

  .main {
    flex-grow: 1 !important;
  }

  .center {
    text-align: center;
    justify-content: center;
  }

  .fill-page-empty {
min-height: 60vh;
  }

  .center {
    width: 90%;
  }




  @media screen and (max-width: 930px) {
    .center {
      width: 100%;
    }
    }
