.filter-buttons-recipe {
  font-size: 16px;
  li {
    padding-bottom: 5px;
    }

  ul {
    padding: 0;
    list-style-type: none;

  }
}

.filter-buttons-travel {
  font-size: 16px;
  li {
    padding-bottom: 5px;
    }

  ul {
    padding: 0;
    list-style-type: none;
    }
}
