.footer {
  background-color: #303030;
  border-top: solid 1px black;
  border-bottom: solid 2px rgb(33, 33, 33);
  padding: 5px 0px 5px ;
  text-align: center;
}

#flogo {
  width: 150px;
}

.footer-links {
  float: right;
  padding-right: 10px;
  a {
  color: rgb(249,247,234) !important;
font-size: 20px;
  }
  }
