.navigation {
  background-color:#f9f7ea;
  text-align: center;
  border-top: solid 1px black;
  padding: 5px 0px 5px ;
  border-bottom: solid 2px black;

}

#logo {
  width: 250px;
}

.nav-tabs {
  justify-content: center;
border: none;

  a {
    color: black;
    font-weight: bold;
    padding: 5px 70px 5px;
  }
  a:hover {
    transition: 1s;
    color: rgb(84, 105, 84);
    border: none;
  }
}


.recipe-tabs {
  justify-content: center;
  border-bottom: solid 2px black;
  background-image: linear-gradient( rgba(247, 247, 247, 0.367), #f9f7ea);


  a {
    color: black;
    font-weight: bold;
    padding: 5px 70px 5px;
  }
  a:hover {
    transition: 0.5s;
    color: rgb(84, 105, 84);
  }
}

.nav-links {
float: right;
padding-right: 10px;
}
