.search-bar {
  padding-right: 30px;
  display: grid;
  align-items: center;
  .left-drop {
    width: 200px;
    border: none;
    background-color: transparent;
    transform: translate3d(-185px, -5px, 0px) !important;
  }
  .up-drop {
    width: 200px;
    height: 100px;
    border: none;
    background-color: transparent;
    transform: translate3d(-30px, -10px, 0px) !important;
  }

  .form-control {
    width: 250px;
    height: 50px;
  }
}

.search-bar-travel {
  align-items: center;

  .up-drop {
    width: 200px;
    height: 100px;
    border: none;
    background-color: transparent;
    transform: translate3d(-30px, -10px, 0px) !important;
  }
  .dropright {
    width: 200px;
    height: 100px;
    border: none;
    background-color: transparent;
    transform: translate3d(20px, 50px, 0px) !important;
  }
  .dropdown-search {

    border: none;
    background-color: transparent;
  }

  .form-control {
    width: 220px;
    height: 50px;
  }

}



.search-and-filters {
 .filter-buttons {
  display: inline-grid;
  width: 100px;
 }
}

.button-16 {
padding: 3px;
}

#selected{
 border: 1px solid black;
  color: black;
}

.search-bar-recipe {
width: 300px;
}
