<div class="container">
<p style="color: green"><%= notice %></p>

<h1>locations</h1>

      <% @countries.each do |country| %>
      <ol style="list-style-type: none">
     <li class="country-list"><%= link_to country.name, country_path(country), :method => "get"  %></li>
     </ol>
     <hr>
      <ul style="list-style-type: square">
     <%  country.locations.each do |location| %>
     <li class="location-list" ><%= link_to location.name, location_path(location), :method => "get"  %></li>
        <% end %>
     <hr>

     </ul>
        <% end %>


<%= button_to "New location", new_location_path, :method => "get"%>
</div>
