<div class="container">
 <br>
  <h1 class="grand-title" style="text-align: center;">NEW LOCATION</h1>
  <hr>

<%= render "form", location: @location %>

<br>

<div>
  <%= link_to "Back to locations", locations_path %>
</div>
</div>
